body{               
    background-image: url(./images/biomsAndStructresBackground.jpg);
    background-position: center;
    background-size: cover;
    object-fit: scale-down;
}


.side-nav{
    width: 6.5%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.81% 0.81%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);

    transition: width 0.5s;
}

ul{
    list-style: none;
    padding: 0 1.2%;
}
ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    
}
ul li img{
    width: 30px;
    margin-left: 0%;
    transition: all 0.5s;

}
ul li p{
    margin: 0;
    white-space: nowrap;
    display: none;
    color: black;
    backdrop-filter: brightness(90%);
    padding: 2px;
    border-radius: 5px;
}


button{
    background-color: #0000;
    margin: 0;
    padding: 0;
    border: 0;
    width: 50;
    display: contents;
}

.side-nav:hover{
    width: 14.6%;
}
.side-nav:hover ul li{
    justify-content: flex-start;
}
.side-nav:hover ul li p{
    display: block;
}
.side-nav:hover ul li img{
    margin-left: 10px;
}
.side-nav:hover ul li p:hover{
    color: #466;
    backdrop-filter: brightness(95%);
}



.screen{
    margin-right: 16%;
    margin-top: 1.62%;

    padding-right: 20px;
    border-right: 3px solid rgba(218, 216, 235, 0.37);
}



h2 {
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgb(4, 32, 38);

    padding: 5px;
    border-radius: 4px;
    backdrop-filter: brightness(100%);

    transition: 0.5s;
}


h2:hover {
    backdrop-filter: brightness(80%);
}


.myP {
    color:rgb(218, 216, 235);
    backdrop-filter: brightness(100%);
    padding: 0.4%;
    border-radius: 8px;
    transition: 0.5s;
}

.myP:hover {
    backdrop-filter: brightness(30%);
}

.imageBorder {
    padding: 2px;
    border: 3px solid rgb(218, 216, 235);
    border-radius: 2px;
}